/* Auth.css */

.kakao-login-button {
  width: 130px;
  background-color: #ffeb00 !important; /* 노란색 배경 추가 */
  border: none !important;
  color: #3c1e1e !important; /* 텍스트 색상 */
  padding: 10px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  margin: 10px 0 !important;
  display: flex; /* 플렉스박스로 설정 */
  align-items: center; /* 세로 정렬 */
  justify-content: center; /* 가로 정렬 */
}

.kakao-logo {
  width: 35px; /* 로고 크기 설정 */
  height: 35px; /* 로고 크기 설정 */
  margin-right: 10px; /* 텍스트와 로고 간격 설정 */
}

  
.google-login-button {
  width: 130px;
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
  