/* MyPage.css */

.mypage-body {
  display: flex;
  height: calc(100vh - 60px); /* Adjust this value based on the height of your Navbar */
  width: 100vw; /* 전체 너비를 차지하도록 설정 */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mypage-container {
  width: 70%;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 0;
}

/* Responsive layout */
@media (max-width: 768px) {
  .mypage-body {
    flex-direction: column;
    height: auto;
  }

  .sidebar, .mypage-container {
    width: 100%;
  }
}
