/* src/styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #DEF1FF;
  color: white;
}

.navbar-logo {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.navbar-links {
  display: flex;
  gap: 15px;
  
}

.navbar-links a {
  color: white;
  text-decoration: none;
  color: black;
}

/* 너비가 800px 이하인 화면에서 네비게이션 바 스타일 */
@media (max-width: 800px) {
  .navbar-links {
    flex-direction: column;
    align-items: flex-end;
  }
}
