/* Sidebar.css */
.sidebar {
  width: 20%;
  background-color: #BDE3FF;
  color: black;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
}

.sidebar h2 {
  margin-bottom: 50px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: black;
  font-size: medium;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #6D8DFE;
}
